


.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    margin-top: 80px;
    width: 100%;
    padding-left:100px;
}

.card {
    background: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    width: 300px;
    height: 300px;
    background-color: var(--soft-white);
    color: var(--gray);
    border-radius: 8px;
    box-shadow: 5px 5px 10px #22222270;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    font-size: 12px;
    margin-top: 20px;
}

.logo {
    width: 100px; 
    margin: 0 auto; 
    border-radius: 20px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: start;
}

.camisa {
    width: 100%; 
    height: auto; 
    width: 60%;
    border-radius: 20px;
}

.txt {
    padding: 1rem; 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.nome {
    margin: 0; 
    font-size: 1.25rem; 
    display: flex;
    width: 50%;
}

.tipo {
    margin: 0; 
    color: #666; 
    display: flex;
    width: 50%;
    font-size: 15px;
    color: var(--amarelo);
}



.card:hover{
    width: 310px;
    height:310px;
    background-color: var(--vermelhoCard);
    transition: 0.5s;
    color:var(--branco);
    font-size: 12px;
}









